---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Astro.">
	<main>
		<h1>About <span class="text-gradient">Atlanta</span></h1>
		<h2>... and my new Astro site!</h2>

		<p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
	
		<p>This site will update as I complete more of the tutorial, so keep checking
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
