---
import Layout from '../layouts/Layout.astro';

import Stage from '../components/Stage';

const pageTitle = "CSS Flex Box Builder";
---
<Layout pageTitle={pageTitle}>
	<main id="flexbox-page">
		<h1>{pageTitle}</h1>
		<p>Something something about learning Flex Box.</p>

		<Stage client:only />
	</main>
</Layout>

<style>
	main {
		padding: 1em;
	}
</style>

