.box {
  position: relative;
  height: 200px;
  width: 200px;
  background-color: #2b7a78;
  cursor: pointer;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
  }
}

.order {
  @for $i from 1 through 10 {
    &--#{$i} {
      order: #{$i};
    }
  }
}

.flex-grow {
  @for $i from 1 through 10 {
    &--#{$i} {
      flex-grow: #{$i};
    }
  }
}

.flex-shrink {
  @for $i from 10 through 0 {
    &--#{$i} {
      flex-shrink: #{$i};
    }
  }
}

.flex-basis {
  &--200px {
    flex-basis: 200px;
  }
  &--4em {
    flex-basis: 10em;
  }
  &--auto {
    flex-basis: auto;
  }
  &--unset {
    flex-basis: unset;
  }
}
