---
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';

import '../styles/global.css';

interface Props {
	pageTitle: string;
}

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
    <slot />
	</body>
</html>
<style is:global>
	:root {}

	* {
		box-sizing: border-box;
	}

	html {
		font-family: system-ui, sans-serif;
		font-size: 16px;
		background-color: #0B0C10;
	}
	body {
    min-height: 100vh;
    max-width: 1280px;
		background-color: #0B0C10;
		margin: 0 auto;
		color: #C5C6C7;
	}
</style>
